include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include CODE_OF_CONDUCT.md
include SECURITY.md
include requirements.txt
recursive-include templates *.html
recursive-include static *.css *.js
global-exclude __pycache__
global-exclude *.py[co]
global-exclude *.pdf
global-exclude *.PDF

